<div class="container">
  <ng-template #errors>
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>
  <div class="card" *ngIf="products; else errors">
    <div class="card-header">Product List</div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
        <div class="input-group">
          <label class="input-group-text">Keyword:</label>
          <input type="text" class="form-control" formControlName="keyword">
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Sale</th>
            <th *ngIf="authService.hasRole('ADMIN')">Sales Control</th>
            <th *ngIf="authService.hasRole('ADMIN')">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td style="color: grey">{{product.id | shortenUuid}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><i *ngIf="product.sale" class="bi bi-currency-dollar text-success"></i></td>
            <td *ngIf="authService.hasRole('ADMIN')">
              <button (click)="handleSetSale(product)" class="btn"
                [ngClass]="product.sale? 'btn-danger' : 'btn-success'">
                <span *ngIf="!product.sale">Enable Sale</span>
                <span *ngIf="product.sale">Disable Sale</span>
              </button>
            </td>
            <td *ngIf="authService.hasRole('ADMIN')">
              <button (click)="handleDeleteProduct(product)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let item of [].constructor(this.totalPages); let i=index">
          <a [ngClass]="i === this.currentPage ? 'active' : ''" class="btn btn-outline-info mr-1 mt-1"
            (click)="handlePageChange(i)">
            {{i}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
