<div class="container">
  <ng-template #errors>
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>
  <div class="card" *ngIf="products; else errors">
    <div class="card-header">Product List</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Sale</th>
            <th>Sales Control</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><i *ngIf="product.sale" class="bi bi-currency-dollar text-success"></i></td>
            <td>
              <button (click)="handleSetSale(product)" class="btn"
                [ngClass]="product.sale? 'btn-danger' : 'btn-success'">
                <span *ngIf="!product.sale">Enable Sale</span>
                <span *ngIf="product.sale">Disable Sale</span>
              </button>
            </td>
            <td>
              <button (click)="handleDeleteProduct(product)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
